name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        java: [ '17' ]
        os: [ 'ubuntu-latest' ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'
    - name: Cache local Maven repository
      uses: actions/cache@v4
      continue-on-error: true
      with:
        path: ~/.m2/repository
        key: cache-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          cache-maven-${{ hashFiles('**/pom.xml') }}
          cache-maven-
    - name: Build
      run: mvn --no-transfer-progress -B clean package
